* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

nav{
    width: 100%;
    background-color: #E43071;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    align-items: center;

}

nav ul li{
    height: 101px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    height: 100%;
    align-items: center;
    display: flex;
    padding: 0 30px;
    font-size: 16px;
    font-family: "Poppins", sans-serif
}

nav li:first-child{
    margin-right: auto;
}

nav li:first-child a{
    font-size: 40px;
    font-family: "Poppins", sans-serif
}

nav li:last-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pinkText {
    color: #FFC1D8;
}

.menu_profile{
    height: 100%;
}

#portrait{
    width: 59px;
    height: 57px;
    border-radius: 317px;
    margin-top: 15%;
}

.up_profile{
    display: flex;
}

.up_profile img{
    width: 15vw;
    height: 25vh;
    border-radius: 317px;
}

footer{
    background: #0B0D17;
    min-height: 40vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}

footer ul{
    max-width: 20%;
    min-height: 70%;
    color: white;
    list-style-type: none;
    font-family: "Manrope", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer ul:first-child h{
    font-size: 25.67px;
    font-weight: 800;
}

footer ul h{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10%;
}

footer ul li{
    color: #D9DBE1;
}